---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About" description="About the site">
    <div class="mx-4 sm:mx-16 mt-16 space-y-8 sm:w-2/3">
        <h1 class="text-3xl font-bold">About</h1>
        <hr class="border-1 border-base-300">
        <p class="text-base/8">
           ckxmusic is a website sharing interactive aural dictation exercises.
           I created this space as a way to learn in public, 
           reflect on my progress, 
           and explore how online music learning can be made more interactive for self-taught musicians.
        </p>
    </div>
</Layout>