---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About" description="About the site">
    <div class="mx-4 sm:mx-16 mt-16 space-y-8 sm:w-2/3">
        <h1 class="text-3xl font-bold">About</h1>
        <hr class="border-1 border-base-300">
        <p class="text-base/8">
           This is a website featuring interactive music theory and ear training exercises, 
           with a primary goal for documenting my music learning progress. 
           Every exercise is created from my own practice writings 
           based on the textbooks and music I'm currently studying, 
           to reflect my ongoing process of learning and understanding. 
        </p>
    </div>
</Layout>