---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Private policy">
    <div class="mx-4 sm:mx-16 mt-16 space-y-8 sm:w-2/3">
        <h1 class="text-3xl font-bold">Private Policy</h1>
        <hr class="border-1 border-base-300">
        <p>Last updated: 2025/6/15</p>
        <p class="text-base/7">
            This site currently does not require user registration and does not use cookies or analytics to track visitors. 
            The only personal information collected is what you choose to share through the contact form,
            which includes your name, email address, and your message.
            <br>
            The form is connected to <span><a class="link" href="https://formsubmit.co/" target="_blank">Formsubmit</a></span>, 
            which processes your submission and forwards it to the site owner’s email address. 
            You can review <span><a class="link" href="https://formsubmit.co/privacy.pdf" target="_blank">Formsubmit's private policy here</a></span>.
            <br>
            The information you submit via the form is used solely for responding your message and improving the site based on your feedback.
        </p>
    </div>
</Layout>