---

---

<div class="space-y-8 lg:mx-24">
  <h1 class="text-3xl/12 lg:text-4xl/12 font-bold">Collections of Melodic and Harmonic Dictation Exercises</h1>
  <div class="flex-cols lg:flex gap-12 space-y-8 items-center">

    <p class="text-neutral-500 text-lg/8">
        Welcome to Measure by Measure. 
        <br>
        This is a project offering music dictation exercises (with more to come)
        built around my practice writings. 
        I created this site as a learn-in-public space to track my progress and to turn my learning process into something that might be useful to the fellow music self-learners.
        <br>
    </p>

    <div class="stats border-1 min-w-48">

      <div class="stat">
        <div class="stat-title">Total Excerpts Created</div>
        <div class="stat-value">30</div>
        <div class="stat-desc">
          <hr class="border-2 mt-2 border-primary">
        </div>
      </div>

    </div>

  </div>

    <div>
      <a href="/ear-training">
        <button class="btn btn-primary">Browse Exercises</button>
      </a>
    </div>


</div>