---
import "../styles/global.css";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
const {title, description} = Astro.props;

---
<!doctype html>
<html lang="zh-Hant" data-theme="pastel">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg" href="favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<slot name="source" />
		<slot name="style" />
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>

	<body class="bg-base-200">
		<div class="min-h-screen">
			<Nav />	
    		<slot />	
		</div>
		<Footer />

	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;

	}
</style>
